.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    border-radius: 20px 20px;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.imgLuxuriousCar {
    height: 200px;
    width: 200px;
    border-radius: 20px 20px;
}