.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.h3 {
    padding: 10px;
    padding-bottom: 5px;
}

.footer {
    padding: 10px;
    font-size: small;
    background-color: rgb(195, 223, 255);
    font-weight: bolder;
    color: #333;
}

.divHome {
    padding-bottom: 10px;
    background-color: rgb(195, 223, 255);
    box-shadow: 0px 0px 3px 1px rgb(195, 223, 255);
    font-family: "Montserrat";
    color:#333;
}

.containerTitles {
    padding: 10px;
    margin-top: 0px;
    background-color: rgb(195, 223, 255);
    box-shadow: 0px 0px 3px 1px rgb(195, 223, 255);
    color: #333;
    font-family: "Montserrat";
}

.img {

    height: 30%;
    width: 40%;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border: 3px solid rgb(195, 223, 255);
}

.img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.imgHome {
    height: 400px;
    width: 100%;
    margin-top: 0px;
};