.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.footer {
    padding: 10px;
    background-color: #333;
    font-weight: bolder;
    color: white;
}

.divHome {
    padding-bottom: 20px;
    background-color: #333;
}

.containerTitles {
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
}

.imgCar {
    height: 30%;
    width: 40%;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.imgCar:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.imgHome {
    height: 400px;
    width: 100%;
    margin-top: 0px;
    
};