.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.li .Link:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #04AA6D;
}

